body.index {
  background-color: $black;
  font-family: "Inter", sans-serif;
}
a {text-decoration: none;}
h1 {font-style: normal; font-weight: 600; color: #DADADA;}
h2 {font-style: normal; font-weight: 300; color: #DADADA;}

.block1 {
    padding: 0.1% 0.2%;
}
.block1-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.4fr 0.8fr 0.1fr; 
    grid-template-areas: 
      "logo null"
      "shortcut shortcut"
      "left right"; 
}
// .block1-grid div {
//     border: 1px dashed #7e7e7e;
// }
.null {
    grid-area: null;
}
.shortcut {
    grid-area: shortcut;
}
.text-left {
    grid-area: left;
}
.text-right {
    grid-area: right;
}
.text-logo {
    grid-area: logo;
}
.text-logo h1 {
    font-size: 3rem;
    line-height: 1rem;
    position: relative;
    top: 40%;
    left: 5%;
}
.text-logo h1:hover {
    color: $green;
}
.shortcut div {
    margin: 2.5% auto 6.5% auto;
}
.shortcut-text {
  font-style: normal;
  font-weight: 600;
  color: $white;
  text-align: center;
  font-size: 25rem;
  animation: change-text 1.5s infinite;
}
@keyframes change-text {
  10% { font-weight: 300; font-style: normal; text-decoration: none; text-transform: none;}
  20% { font-weight: 500; font-style: italic; text-decoration: underline; text-decoration-thickness: 0.6rem; text-underline-offset: 2rem; text-transform: capitalize;}
  30% { font-weight: 200; font-style: normal; text-decoration-line: line-through; text-decoration-thickness: 0.7rem; text-transform: none;}
  40% { font-weight: 600; font-style: italic; text-decoration: none; text-transform: lowercase;}
  50% { font-weight: 100; font-style: italic; text-decoration-line: line-through; text-decoration-thickness: 0.7rem; text-transform: none;}
  60% { font-weight: 700; font-style: normal; text-decoration: none;text-transform: lowercase;}
  70% { font-weight: 400; font-style: italic; text-decoration: underline; text-decoration-thickness: 0.7rem; text-underline-offset: 3rem; text-transform: capitalize;}
}
.text-left, .text-right {
    font-size: 1.2rem; line-height: 1rem;
}
.text-left h2 {
    position: relative;
    margin-left: 5%;
}
.text-left h2:hover {
  color: $green;
}
.text-right h2 {
    position: relative;
    margin-left: 71%;
}
.text-right h2:hover {
  color: $green;
}

.block3 {
    padding-top: 20%;
}